<% answer = @answer || @question.answers.build %>

<%= form_for [@question, answer] do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  
  <div class="field">
    <%= f.submit t(:submit_btn, :scope => [:sechat, :answers, answer.new_record? ? :new : :edit]) %>
    <%= link_to t('sechat.cancel'), root_url %>
  </div>
<% end %>
